 div.container {
    color: red;
    font-size: 20px;
}

li {
    text-decoration: underline;
}

div p.special {
    color: red;
    text-decoration: underline;
}

.container p {
    color: red;
}
